Source: ros-indigo-pcan-topics
Section: misc
Priority: extra
Maintainer: HJMeijdam <hendrik.meijdam@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-pcan-topics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: pcan topics is based on transmi- and receivetest. It consists of two nodes; pcan_transmit and pcan_receive. The pcan_transmit is subscribed to the pcan_transmit topic and sends a CAN message based on the string published. The pcan_receive publishes incomming CAN messages on the pcan_receive topic in string format.
